.About-container {
  min-height: 100vh;
  background-color: #73797d;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
    padding-top: 6.5rem;
  }
}
.cdardle {
  max-width: 21rem;
}

.About-main {
  @media screen and (min-width: 1800px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4rem;
    padding-top: 3rem;
    font-size: 1.25rem;
  }
}

h2 {
  font-family: League Spartan;
  color: azure;
  text-align: center;
  @media screen and (min-width: 1800px) {
    font-size: 4rem;
    padding-top: 2rem;
  }
}

.About-cards {
  transition-duration: 0.5s;
}
.About-cards:hover {
  transform: translatey(-10px);
}
