$base-color: azure;

.HeaderText-main {
  height: 100vh;
  display: block;
  margin: 4rem 0 0 0;
}

.Main-text {
  color: $base-color;
  font-size: 1.5rem;
  margin: 2rem 0 0 2rem;
  text-align: left;
}

.Header-Resume {
  color: $base-color;
  font-size: 1.5rem;
  text-decoration: underline;
}

.Header-Resume:visited {
  color: $base-color;
  text-align: left;
}

.Header-P {
  color: white;
  font-size: 4rem;
  font-style: League Spartan;
  padding-top: 4rem;
  padding-right: -1rem;
}

.Header-Underscore {
  animation: blink-animation 0.75s steps(5, start) infinite;
  margin-left: -1rem;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.Name-text {
  color: $base-color;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 4rem;
  margin: 0rem 0 0 0rem;
  justify-content: left;

  div {
    animation: slide 1s forwards;
    opacity: 0;
    margin-left: 0rem;
  }
}

@keyframes slide {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 1rem;
    opacity: 1;
  }
}
.Name-text div:nth-child(1) {
  animation-delay: 1s;
}
.Name-text div:nth-child(2) {
  animation-delay: 1.5s;
}
.Name-text div:nth-child(3) {
  animation-delay: 2s;
}
