$base-color: azure;

.HeaderText-main {
  height: 100vh;
  display: block;
}
.Name-text {
  color: $base-color;
  display: flex;
  text-align: left;
  font-size: 4rem;
  margin: 1rem 0 0 2rem;
}

.Main-text {
  color: $base-color;
  font-size: 1.5rem;
  margin: 2rem 0 0 2rem;
  text-align: left;
}
