.Skills {
  margin-top: 1rem;
}

.Skills-main {
  min-height: 100vh;
  background-color: #73797d;
  padding-top: 3rem;
  h4 {
    margin-bottom: 2rem;
    padding-top: 1rem;
  }
}

.skill-gap {
  margin-bottom: 2rem;
}

// .grid-container {
//   grid-template-columns: repeat(3, 5rem, [col-start]);
// }
